<!DOCTYPE html>
<html>
<% include ./../../partials/head %>

    <body>
        <% include ./../../navigation %>
            <div class="album py-5">
                <div class="container">
                    <div class="row px-0">
                        <div class="col-md-12 text-center">
                            <h1> No books found! </h1>
                        </div>
                    </div>
                </div>
            </div>
            <% include ./../../partials/script_includes %>
    </body>

</html>