<!DOCTYPE html>
<html>
<% include ./../../partials/head.ejs %>

	<body>
		<% include ./../../navigation %>
			<div class="container">
				<div class="text-center">
					<form class="form-signin" action="/login" method="POST">
						<img class="mb-4" src="https://www.clker.com/cliparts/i/s/K/X/9/F/book.svg" alt="" width="72" height="72">
						<h1 class="h3 mb-3 font-weight-normal">Log In</h1>
						<label for="inputEmail" class="sr-only">Email address</label>
						<input type="email" id="inputEmail" name="username" class="form-control" autofocus autocomplete="autocomplete" placeholder="Email address">
						<label for="inputPassword" class="sr-only">Password</label>
						<input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password">
						<button class="btn btn-lg btn-block bg-dark text-white" type="submit">Sign in</button>
					</form>
					<a class="text-dark" href="/admin">admin?</a><br/>
					<a class="text-dark" href="/guest">Browse as guest</a>
				</div>
			</div>
			<% include ./../../partials/script_includes %>
	</body>
</html>